<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>top</title>

  </head>
  <body>
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <% unless session[:user] %>
          <a href="/">music SNS!!</a>
          <a href="/signup">新規登録</a>
　</nav>
<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
    <div>
	    <form action="/signin" method="post">
        <div>
          <input type="text" name="name" placeholder="ユーザー名"><br>
          <input type="text" name="password" placeholder="パスワード"><br>
          <input type="submit" value="ログイン"><br>
        </div>
      </form>
    </div>

    </section>
        <% else %>
          <a href="/">music SNS!!</a>
          <a href="/home">home</a>
          <a href="/search">search</aa>
          <a href="/signout">ログアウト</a>
          <% end %>
      </ul>
    </div>
  </body>
</html>
